{
    "env": {
        "development": {
            "presets": [
                "@babel/preset-env",
                "@babel/preset-react"
            ],
            "plugins": [
                [  "@babel/plugin-transform-runtime",
                    { 
                        /* "polyfill": false, */
                        "regenerator": true       
                    }
                ]
            ]
        },
        "production": {
            "presets": [
                "@babel/preset-env",
                "@babel/preset-react"
            ],
            "plugins": [
                /* [
                    "transform-react-remove-prop-types",
                    {
                        "mode": "wrap"
                    }
                ], */
                [  "@babel/plugin-transform-runtime",
                    { 
                        /* "polyfill": false, */
                        "regenerator": true       
                    }
                ]
            ]
        }
    }
}